<div class="container">
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card rental_card">
          <div><!-- insert <div class="card"> -->
            <%= cl_image_tag rental.user.photo, height: 50, width: 50, crop: :thumb, radius: :max %>
            <h4 class="h4"><%= rental.user.name %></h4>
            <p> propose you to feel</p>
          </div>
          <div>
          <h4 class="h4"><%= rental.personnality.main_emotion %></h4>
          </div>
          <div>
          <p  class="p">my age: </p>
          <h4 class="h4"><%= rental.personnality.age %></h4>
          </div>
          <div>
          <p  class="p">my job: </p>
          <h4 class="h4"><%= rental.personnality.job %></h4>
          </div>
          <div>
          <p  class="p"> my very best friend: </p>
          <h4><%= rental.personnality.friends %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





