<div class="container">
  <div class="row text-center">
    <h1 style="padding-bottom: 70px;"><span style="color: red;">Book</span> the personnalities you seek the most</h1>
 </div>
</div>


<div class="container">
    <form method="get" action="/personnality" >
    <div class="flex-origin">
      <div class="flex-search">
            <label for="main_emotion">Which?</label>
            <input type="text" id="main_emotion" name="main_emotion" class="input-no-border" placeholder="Main emotion">
      </div>
      <div class="flex-search">
            <label for="start_when">Start when?</label>
            <input type="date" id="start_when" name="date_start" class="input-no-border"  placeholder="Start">
      </div>
      <div class="flex-search">
          <label for="end_when">End when?</label>
            <input type="date" id="end_when" name="date_end" class="input-no-border" placeholder="End when">
      </div>
      <div class="flex-search">
            <label for="sex">Which gender?</label>
            <select id="sex" name="sex" class="input-no-border" placeholder="sex">
      </div>
      <div class="flex-search">
            <option value='male'>Male</option>
            <option value="female">Female</option>
            </select>
      </div>
      <div class="flex-search">
            <input type="submit" value="Search"  class="flex-btn btn-danger">
      </div>
    </div>
    </form>
</div>


<br><br><br><br>
<div class="container">
<h4 style="color: #303030;"> Here's the THREE most popular personnalities </h4>
  <div class="row">
    <% @perso.each do |p| %>
      <%= link_to personnality_path(p), class: "none-decoration" do %>
        <div class="col-xs-12 col-sm-4" >
          <div class="rental_card rental_card-accepted">
            <div class="avatar-infos">
              <%= cl_image_tag p.photo, height: 100, width: 100, crop: :thumb, radius: :max %>
              <h4>
                <span style="color: black;"><%= p.name %></span>
                <br/>
                <span class="base-line-name">propose you to live</span>
              </h4>
            </div>
            <div class=main-emotion-home>
              <%= p.main_emotion.upcase %>
            </div>
            <div class="padding-personnality-info">
              <ul class="list-inline">
                <li>
                  <p>
                    <span class="personnality-infos">Job</span>
                    <br/>
                    <span style="color: black;"><%= p.job %></span>
                  </p>
                </li>
                <li>
                  <p>
                    <span class="personnality-infos ">Age</span>
                    <br/>
                    <span style="color: black;"><%= p.age %></span>
                  </p>
                </li>
                <li>
                  <p>
                    <span class="personnality-infos">Friend</span>
                    <br/>
                    <span style="color: black;"><%= p.friends %></span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
